<div class="font-[sans-serif]" style="background-color: #FBF9F3;">
  <div class="min-h-screen flex flex-col items-center justify-center p-4">
    <div class="max-w-md w-full p-6 m-4 shadow-[0_2px_10px_-3px_rgba(193,37,53,0.3)] rounded-md bg-white">
      <div class="w-full">
        <router-outlet/>
      </div>     
    </div>
    <div class="mt-4">
      <button routerLink="/rag" class="py-2 px-4 text-sm rounded-md text-white bg-[#c12535] hover:bg-[#a01e2c] focus:outline-none">
        Back to Assistant
      </button>
    </div>
  </div>
</div>